@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    h1 {
        @apply text-3xl font-semibold;
    }

    h2 {
        @apply text-2xl font-semibold;
    }

    h3 {
        @apply text-xl font-semibold;
    }

    h4 {
        @apply text-lg font-semibold;
    }
}

@layer components {

  .ng-range-slider {
    --slider-connect-bg: theme('colors.primary.DEFAULT');
    --slider-tooltip-bg: theme('colors.primary.DEFAULT');
    --slider-handle-ring-color: theme('colors.primary.DEFAULT');
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}


.collapse-open .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type='checkbox']:checked ~ .collapse-content {
  max-height: 0px;
}

.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type='checkbox']:checked ~ .collapse-content {
  max-height: none;
}
