@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    h1 {
        @apply text-3xl font-semibold;
    }

    h2 {
        @apply text-2xl font-semibold;
    }

    h3 {
        @apply text-xl font-semibold;
    }

    h4 {
        @apply text-lg font-semibold;
    }
}

@layer components {

  .ng-range-slider {
    --slider-connect-bg: theme('colors.amber.400');
    --slider-tooltip-bg: theme('colors.amber.400');
    --slider-handle-ring-color: theme('colors.amber.400');
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroller {
    scrollbar-color: theme('colors.gray.100');
    scrollbar-width: thin;
  }

  .scroller::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  .scroller::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  .scroller::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 hover:bg-gray-400;
  }

}


.collapse-open .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type='checkbox']:checked ~ .collapse-content {
  max-height: 0px;
}

.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type='checkbox']:checked ~ .collapse-content {
  max-height: none;
}

.table th:first-child{
  position: static;
}

.swiper {
.swiper-button-prev,
.swiper-button-next {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-gray-100 p-0 hover:bg-gray-200 transition-colors active:bg-gray-300;

&:after {
   @apply text-xl text-primary;
 }
}

.swiper-button-prev {
  @apply left-2 pr-1;
}

.swiper-button-next {
  @apply right-2 pl-1;
}
}


.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked="true"] {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
[type='checkbox']:checked:hover, [type='checkbox']:checked:focus, [type='radio']:checked:hover, [type='radio']:checked:focus {
  border-color: transparent;
  @apply bg-gray-800
}

:root {
  --bg-color:rgb(241, 245, 249);
}

[data-theme='dark'] {
  --bg-color: rgb(31,41,55);
}

